* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 80%;
  padding: 34px;
  margin: auto;
}
.container h1,
p {
  text-align: center;
}
.line{
    font-size: 25px;
}
h1{
    font-size: 50px;
}
input,textarea{
    width: 80%;
    margin: 13px;
    font-size: 19px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid black;
}
.btn{
    margin-left: 11px;
    font-size: 19px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid black;    
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 60%;
}