body {
    background: #111;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calc {
    background: #000;
    padding: 25px;
    border-radius: 25px;
    width: 330px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

.screen {
    background: #222;
    color: #0f0;
    font-size: 40px;
    padding: 25px;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 10px #000;
}

.input {
    width: 92%;
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 15px;
}

button {
    padding: 20px;
    background: #333;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

.eq {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: #00cc66;
    font-size: 28px;
    border-radius: 15px;
}

.eq:hover {
    background: #00994d;
}
